<strong>Olá, {{ user }}</strong>
<p>Voce esqueceu sua senha? Não tem problema utilize esse token: {{ token }} <br />
  ou acesse o link abaixo.</p>
<style>
  .button {
    background-color: #1c87c9;
    border: none;
    color: white;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
  }
</style>


<a href="{{APP_URL_FRONT}}/forgotpassword/{{token}}" class="button">Clique aqui para resetar a senha</a>



alisson renan macedo